body, html{
    width: 100%;
    margin: 0px;
}

#container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.input{
    border-style: solid;
    font-size: 20px;
	border-bottom-color: #3F51B5;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
	font-family: Roboto, sans-serif;
}

#add_state_and_congregation{
	margin: 50px;
}

#add_location{
	margin: 50px;
}

@media only screen and (max-width: 400px)  {
	#add_state_and_congregation{
		margin-top: 50px;
		margin: auto;
	}

	#add_location{
		margin-top: 50px;
		margin: auto;
	}
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left: 62px;
}

.save_button{
	margin: 20px;
    background-color: #FFC107;
    padding: 10px;
	color: white;
    border-style: none;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
	box-shadow: 1px 1px 2px #888;
}


.tags{
	font-family: Roboto, sans-serif;
	color: #757575;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#state_drop_down_btn{
	background-color: #3F51B5;
    color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	font-size: 16px;
    border: none;
    cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}


#cong_drop_down_btn {
    background-color: #3F51B5;
    color: white;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	font-size: 16px;
    border: none;
    cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}

.show {display:block;}
