body, html{
    width: 100%;
    margin: 0px;
	background-color: white;
	font-family: Roboto, sans-serif;
}

#add_location_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#add_state_province_cong_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#container{
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 200px;
	margin-right: 200px;
}

#location_saved_successfully{
	padding: 15px;
	background-color: #00E676;
	color: #1B5E20;
	width: 40%;
}

.select{
	width: 230px;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 20px;
}

.input{
	text-align: center;
    border-style: solid;
	background-color: white;
    font-size: 20px;
	border-bottom-color: #3F51B5;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
}

#add_new_location_title{
	padding-top: 50px;
}

#add_location_1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

#add_location_2{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 0px;
}

#add_s_p_c_1{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

#add_s_p_c_2{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
	
#maps_div{
	width: 100%;
	height: 625px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#maps_container{
	width: 85%;
	height: 500px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#reset_location{
	border: none;
	background-color: white;
	color: #3F51B5;
	font-size: 13px;
	margin-top: 30px;
	padding: 10px;
	box-shadow: 1px 1px 2px #888;
}

#verify_location_btn{
	background-color: #3F51B5;
    padding: 10px;
	margin: 20px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

#verify_title{
	margin-top: 50px;
}

#add_location_divider{
	height: 1.5px;
	width: 95%;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #3b3b3b;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 800px)  {
	
	#add_location_1{
		margin-top: 0px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 50px;
	}

	#add_location_2{
		margin-bottom: 50px;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 0px;
	}
	
}

@media only screen and (max-width: 935px){
	#container{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.save_button{
	margin: 20px;
    background-color: #FFC107;
    padding: 10px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

.tags{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
#state_drop_down_btn{
	background-color: #3F51B5;
    color: white;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	font-size: 16px;
    border: none;
    cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}

#cong_drop_down_btn {
    background-color: #3F51B5;
    color: white;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	font-size: 16px;
    border: none;
    cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}

.show {display:block;}

#cong_ul{
	list-style-type: none;
}

#state_ul{
	list-style-type: none;
}

#state_li, #cong_li{
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
*/


