body, html{
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: Roboto, sans-serif;
}

#container_div{
	display: flex;
	flex-wrap: wrap;
}

#left_header_div{
	height: 75px;
	width: 20%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#header_content_div{
	height: 75px;
	width: 60%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#right_header_div{
	height: 75px;
	width: 20%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#header_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header_li{
	float: left;
}

.header_li a{
	border-bottom: 2px solid white;
	font-family: Roboto, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 16px;
	margin-top: 30px;
    margin-right: 16px;
    font-size: 20px;
    text-decoration: none;
}

.header_li a:hover{
	background-color: #283482;
	cursor: pointer;
}

#selected_li a{
	border-bottom: 2px solid #FFC107;
}