body, html{
	margin: 0;
	height: 100%;
	font-family: Roboto, sans-serif;
	background: #eeeeee;
	color: #3b3b3b;
}

#loading_div{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: white;
	z-index: 2;
}

#loader {
    border: 10px solid #e8e1e1;
    border-top: 10px solid #FFC107;
    border-radius: 50%;
    width: 60px;
    height: 60px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
    animation: spin 0.7s linear infinite;
	z-index: 3;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#nav_div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#left_header_div{
	height: 75px;
	width: 10%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#header_content_div{
	height: 75px;
	width: 80%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;

}

#right_header_div{
	height: 75px;
	width: 10%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;

}

.menu_style {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
	border-radius: 2px;
}

#menu_container{
	margin-left: 40px;
	vertical-align: top;
	margin-top: 5px;
	margin-top: 25px;
	margin-right: 40px;
	cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
	z-index: 5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
	cursor: pointer;
}

.sidenav a:hover {
    color: #a0a0a0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav_divider_div{
	width: 250px;
    height: 1px;
    background-color: black;
	margin-left: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#shadow_div{
	position: fixed;
    width: auto; 
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

/*
	**********	CHECK FEEDBACK  **********
*/
#check_feedback_div{
	width: 60%;
}

#unresolved_feedback_ul{
	list-style-type: none;
	margin-left: 10%;
	margin-right: 10%;
}

#feedback_not_resolved_li{
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	cursor: pointer;
}

#resolved_feedback_ul{
	list-style-type: none;
	margin-left: 10%;
	margin-right: 10%;
}

#feedback_resolved_li{
	color: #BDBDBD;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	cursor: pointer;
}

#unresolved_feedback_h{
	margin-top: 50px;
}

#resolved_feedback_h{
	margin-top: 50px;
}

#view_feedback{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 500px; 
    height: 500px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 2px;
    background-color: white;
    z-index: 4;
}

#loading_feedback{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 500px; 
    height: 500px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);;
    z-index: 5;
}

#feedback_loader{
	border: 7px solid #f3f3f3;
    border-top: 7px solid #FFC107;
    border-radius: 50%;
    width: 40px;
    height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 210px;
    animation: feedback_spin 0.7s linear infinite;
}

@keyframes feedback_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#feedback_button_bar{
	position: absolute;
    bottom: 0;
	right: 0;
	margin: 10px;
}

#feedback_cancel{
	border-radius: 2px;
	padding: 10px;
	border: none;
	box-shadow: 1px 1px 2px #888;
	margin: 10px;
	font-size: 15px;
	background: white;
	color: #B71C1C;
}

#feedback_mark_resolved{
	border-radius: 2px;
	padding: 10px;
	border: none;
	box-shadow: 1px 1px 2px #888;
	margin: 10px;
	font-size: 15px;
	color: white;
	background: #303F9F;
}

#feedback_edit_location{
	border-radius: 2px;
	padding: 10px;
	border: none;
	box-shadow: 1px 1px 2px #888;
	margin: 10px;
	font-size: 15px;
	color: white;
	background: #FFC107;
}

.show_feedback_p{
	margin-left: 60px;
	margin-right: 60px;
}

#unresolved_feedback_box{
	padding-top: 10px;
	padding-bottom: 40px;
	margin-top: 40px;
	background: white;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

#resolved_feedback_box{
	padding-top: 10px;
	padding-bottom: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	background: white;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

/*
	**********	ADD LOCATION DIV  **********
*/


#content_div{
	display: flex;
	flex-wrap: wrap;
}

#add_location_div_container{
	width: 60%;
}

#left_content_div{
	width: 20%;
}

#right_content_div{
	width: 20%;
}

#add_location_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.select{
	margin-left: 20px;
	margin-right: 20px;
	width: 230px;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 20px;
}

.input{
    border-style: solid;
	background-color: white;
    font-size: 17px;
	border-bottom-color: #3b3b3b;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
}

#add_new_location_title{
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

#add_location_loader{
	border: 7px solid #e8e1e1;
    border-top: 7px solid #FFC107;
    border-radius: 50%;
	margin-bottom: 20px;
    width: 30px;
    height: 30px;
	margin-left: auto;
	margin-right: auto;
    animation: spin 0.7s linear infinite;
	z-index: 3;
}


#add_location_1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 17px;
}

#add_location_2{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

#add_s_p_c_1{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	padding: 50px;
	background: white;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

#add_s_p_c_2{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	background: white;
	padding: 50px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

#add_location_box{
	padding-top: 30px;
	margin-top: 30px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	background: white;
}
	
#maps_div{
	width: 100%;
	height: 625px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 20px;
	padding-bottom: 40px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	background: white;
}

#maps_container{
	width: 85%;
	height: 500px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#reset_location:hover{
	box-shadow: 2px 2px 4px #888;
	background-color: #F8F8F8;
}

#reset_location{
	border: none;
	background-color: white;
	color: #3F51B5;
	font-size: 13px;
	margin-top: 30px;
	padding: 15px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

#verify_location_btn:hover{
	box-shadow: 2px 2px 4px #888;
	background-color: #303F9F;
}

#verify_location_btn{
	background-color: #3F51B5;
    padding: 15px;
	margin: 40px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

#verify_location_explain{
	text-indent: 30px;
}

#verify_title{
	margin-top: 50px;
}

.save_button:hover{
	background-color: #FFB300;
	box-shadow: 2px 2px 4px #888;
}

.save_button{
	margin: 20px;
    background-color: #FFC107;
    padding: 15px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

.tags{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#message_center_add_location{
	padding: 15px;
	width: 40%;
}

#cong_message, #state_or_province_message, #edit_cong_message{
	padding: 15px;
	margin-left: 20%;
	margin-right: 20%;
	font-weight: 600;
	text-align: center;
}

#add_more_credits:hover{
	box-shadow: 2px 2px 4px #888;
	background-color: #FFB300;
}

#add_more_credits{
	border: none;
	padding: 10px;
	color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	background-color: #FFC107;
	font-size: 13px;
	margin-bottom: 30px;
}

#location_credits_remaining{
	padding: 0px;
}

/*
	**********	EDIT ITEMS  **********
*/

#delete_this_location_btn:hover{
	box-shadow: 2px 2px 4px #888;
	background-color: #B71C1C;
}

#delete_this_location_btn{
	margin-top: 20px;
	color: white;
	border: none;
	background-color: #C62828;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

#edit_location_div{
	width: 60%;
}

#locations_to_edit_ul, #cong_to_edit_ul{
	list-style-type: none;
}

#edit_li_items:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}

#edit_li_items{
	color: #3b3b3b;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#drop_down_location_edit_div{
	position: absolute;
	z-index: 2;
	margin-left: 23%;
	padding-right: 40px;
	background-color: white;
	box-shadow: 6px 6px 12px #888;
}

#drop_down_cong_edit_div{
	position: absolute;
	z-index: 2;
	margin-left: 23%;
	padding-right: 40px;
	background-color: white;
	box-shadow: 6px 6px 12px #888;
}


#verify_edit_location_div{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#edit_location_1{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: top;
}

#edit_location_2{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#edit_map_location{
	width: 80%;
	height: 500px;
	cursor: pointer;
}

#edit_location_message{
	padding: 15px;
	width: 65%;
}

#edit_location_box{
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	background: white;
}

#edit_congs_box{
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 40px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	background: white;
}

#dispute_explain{
	color: #D32F2F;
}

#close_dispute_btn{
	border: none;
	padding: 10px;
	margin-bottom: 10px;
	color: #D32F2F;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	background-color: white;
}

#dispute_message{
	padding-top: 10px;
	padding-bottom: 10px;
}


/*  location credits  */
#get_more_credits_container{
	width: 60%;
}

#tier_container{
	display: flex;
	flex-wrap:  wrap;
	justify-content: center;
	margin-bottom: 100px;
}

.tier{
	width: 250px;
	height: 175px;
	background-color: white;
	border-radius: 2px;
	margin: 20px;
	box-shadow: 2px 2px 4px #888;
}

.tier:hover{
	box-shadow: 9px 9px 20px #888;
}

.tier_label{
	color: white;
	margin: 0px;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}

.house_holds_label{
	color: white;
	text-align: center;
	margin: 10px;
	font-size: 20px;
}

.price_label{
	vertical-align: top;
	text-align: right;
	font-size: 18px;
	color: gray;
	margin-left: 120px;
	margin-right: 20px;
	display: inline-block;
}

#tier_five{
	background-color: #FFC107;
	width: inherit;
	height: 120px;
	border-radius: 2px 2px 0px 0px;
}

#tier_fifteen{
	background-color: #FFB300;
	width: inherit;
	height: 120px;
	border-radius: 2px 2px 0px 0px;
}

#tier_twentyfive{
	background-color: #FFA000;
	width: inherit;
	height: 120px;
	border-radius: 2px 2px 0px 0px;
}

#tier_fifty{
	background-color: #FF8F00;
	width: inherit;
	height: 120px;
	border-radius: 2px 2px 0px 0px;
}

#tier_seventyfive{
	background-color: #FF6F00;
	width: inherit;
	height: 120px;
	border-radius: 2px 2px 0px 0px;
}

#added_to_cart_div{
	text-align: center;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 300px; 
    height: 130px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 2px;
    background-color: white;
    z-index: 4;
}

#item_added_to_cart{
	margin-left: 20px;
	margin-right: 20px;
}

#checkout_btn{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
	margin-left: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	color: white;
	font-size: 16px;
	background-color: #3F51B5;
}

#cancel_checkout_dialog{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
	margin-right: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	color: #FFA000;
	font-size: 16px;
	background-color: white;
	
}

#checkout_btn:hover{
	background-color: #2d3a84;
	box-shadow: 2px 2px 4px #888;
}

#shopping_cart_img{
	vertical-align: top;
	width: 40px;
	height: 29px;
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}

/*information code*/
#information_div{
	padding-top: 20px;
	background: white;
	border-radius: 2px;
	width: 60%;
	margin-bottom: 40px;
	margin-top: 40px;
	box-shadow: 1px 1px 2px #888;
}

#info_ul{
	list-style-type: circle;
	margin: 50px;
	text-indent: 20px;
}

.info_li{
	font-size: 18px;
	padding: 20px;
}

#flow_chart_div{
	position: fixed; 
    width: 600px; 
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	margin: auto;
    z-index: 4;
    box-shadow: 1px 1px 2px #888;
}

/*profile code*/
#profile_div{
	width: 60%;
	background-color: white;
	margin-top: 40px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	padding-bottom: 40px;
	padding-top: 20px;
	margin-bottom: 40px;
}

#edit_profile_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#update_profile_btn:hover{
	background-color: #2d3a84;
	box-shadow: 2px 2px 4px #888;
}

#update_profile_btn{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 15px;
	border: none;
	color: white;
	box-shadow: 1px 1px 2px #888;
	background-color: #3F51B5;
	border-radius: 2px;
}

#update_profile_message{
	font-size: 18px;
	margin-top: 50px;
	padding: 10px;
	margin-right: 50px;
	margin-left: 50px;
}

#extra_profile_info_div{
	margin-left: 50px;
	margin-right: 50px;
}

/* resizing css code */
@media only screen and (max-width: 1000px){
	#right_header_div{
		width: 0%;
	}
	
	#left_header_div{
		width: 20%;
	}
	
	#header_content_div{
		width: 80%;
	}
	
	#add_location_div_container{
		width: 98%;	
	}
	
	#edit_location_div{
		width: 98%;
	}
	
	#check_feedback_div{
		width: 98%;
	}
	
	#get_more_credits_container{
		width: 98%;
	}
	
	#information_div{
		width: 98%;
	}
	
	#profile_div{
		width: 98%;
	}
	
	#left_content_div{
		width: 1%;
	}

	#right_content_div{
		width: 1%;
	}
	#drop_down_location_edit_div{
		margin-left: 40%;
	}
	#drop_down_cong_edit_div{
		margin-left: 40%;
	}
}

@media only screen and (max-width: 935px){
	#add_location_div_container{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 650px){
	#maps_container{
		width: 100%;
	}
	#unresolved_feedback_ul{
		margin-left: -35px;
		margin-right: 0%;
	}
	#resolved_feedback_ul{
		margin-left: -35px;
		margin-right: 0%;
	}
	
	#view_feedback{
		width: 360px;
	}
	#feedback_button_bar{
		margin: 10px;
		right: 0;
	}
	#drop_down_location_edit_div{
		margin-left: 20%;
	}
	#drop_down_cong_edit_div{
		margin-left: 20%;
	}
	
	#feedback_cancel{
		margin-right: 0px;
	}
	
	#feedback_mark_resolved{
		margin-right: 0px;
	}
	
	#info_ul{
		margin-left: 0px;
		margin-right: 0px;
	}
}

#edit_cong_div{
	text-align: center;
}