body, html{
	margin: 0;
	height: 100%;
	font-family: Roboto, sans-serif;
}

#loading_div{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: white;
	z-index: 2;
}

#loader {
    border: 10px solid #e8e1e1;
    border-top: 10px solid #FFC107;
    border-radius: 50%;
    width: 60px;
    height: 60px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
    animation: spin 0.7s linear infinite;
	z-index: 3;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#nav_div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#left_header_div{
	height: 75px;
	width: 20%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#header_content_div{
	height: 75px;
	width: 60%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#right_header_div{
	height: 75px;
	width: 20%;
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#header_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.header_li{
	float: left;
}

.header_li a{
	font-family: Roboto, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 16px;
	margin-top: 30px;
    margin-right: 16px;
    font-size: 20px;
    text-decoration: none;
}

.header_li a:hover{
	background-color: #283482;
	cursor: pointer;
}

.menu_style {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
	border-radius: 2px;
}

#menu_container{
	margin-left: 40px;
	vertical-align: top;
	margin-top: 5px;
	margin-top: 25px;
	margin-right: 40px;
	display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
	z-index: 5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #4f4f4f;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav_divider_div{
	width: 250px;
    height: 1px;
    background-color: black;
	margin-left: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#shadow_div{
	position: fixed;
    width: auto; 
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

/*
	**********	CHECK FEEDBACK  **********
*/
#check_feedback_div{
	width: 60%;
}




/*
	**********	ADD LOCATION DIV  **********
*/


#content_div{
	display: flex;
	flex-wrap: wrap;
}

#add_location_div_container{
	width: 60%;
}

#left_content_div{
	width: 20%;
}

#right_content_div{
	width: 20%;
}

#add_location_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#add_state_province_cong_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.select{
	width: 230px;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 20px;
}

.input{
    border-style: solid;
	background-color: white;
    font-size: 20px;
	border-bottom-color: #3F51B5;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
}

#add_new_location_title{
	padding-top: 10px;
}


#add_location_1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

#add_location_2{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 0px;
}

#add_s_p_c_1{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

#add_s_p_c_2{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
	
#maps_div{
	width: 100%;
	height: 625px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#maps_container{
	width: 85%;
	height: 500px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#reset_location{
	border: none;
	background-color: white;
	color: #3F51B5;
	font-size: 13px;
	margin-top: 30px;
	padding: 10px;
	box-shadow: 1px 1px 2px #888;
}

#verify_location_btn{
	background-color: #3F51B5;
    padding: 10px;
	margin: 20px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

#verify_title{
	margin-top: 50px;
}

#add_location_divider{
	height: 1.5px;
	width: 95%;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #3b3b3b;
	margin-left: auto;
	margin-right: auto;
}

.save_button{
	margin: 20px;
    background-color: #FFC107;
    padding: 10px;
	color: white;
    border-style: none;
    border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

.tags{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#message_center_add_location{
	padding: 15px;
	width: 40%;
}


/*
	**********	EDIT ITEMS  **********
*/

#delete_this_location_btn{
	margin-top: 20px;
	color: white;
	border: none;
	background-color: #B71C1C;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
}

#edit_location_div{
	width: 60%;
}

#locations_to_edit_ul{
	list-style-type: none;
}

#edit_li_items{
	color: #3b3b3b;
    padding-right: 20%;
    padding-left: 20%;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

#verify_edit_location_div{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#edit_location_1{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: top;
}

#edit_location_2{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#divider_div{
	width: 100%;
	height: 1px;
	background: black;
}

#edit_map_location{
	width: 80%;
	height: 500px;
	cursor: pointer;
}

#edit_location_message{
	padding: 15px;
	width: 65%;
}

/* resizing css code */
@media only screen and (max-width: 1020px){
	#right_header_div{
		width: 0%;
	}
	
	#left_header_div{
		width: 0%;
	}
	
	#header_content_div{
		width: 100%;
	}
	
	#add_location_div_container{
		width: 98%;	
	}
	
	#edit_location_div{
		width: 98%;
	}
	
	#check_feedback_div{
		width: 98%;
	}
	
	#left_content_div{
		width: 1%;
	}

	#right_content_div{
		width: 1%;
	}
}

@media only screen and (max-width: 935px){
	#add_location_div_container{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 800px)  {
	
	#add_location_1{
		margin-top: 0px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 50px;
	}

	#add_location_2{
		margin-bottom: 50px;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 0px;
	}
	
}

@media only screen and (max-width: 650px){
	#header_ul{
		display: none;
	}
	#menu_container{
		display: inline-block;
	}
	
	#maps_container{
		width: 100%;
	}
}