html, body{
    height: 100%;
    margin: 0;
}

#map {
    min-height: 100%;
}

#add_location{
    margin: 20px;
    background-color: #303F9F;
    padding: 10px;
	color: white;
    border-style: none;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
}

h3{
    font-family: Roboto, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

#overlay {
    position: fixed; 
    width: 400px; 
    height: 500px; 
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 2px;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 2px #888;
}

#search_input{
    padding: 10px;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    margin: 10px;
    border-bottom: 1px solid #3b3b3b;
}


#names_found_list{
    list-style: none;
    margin-right: 35px;
}

#li_items{
    font-family: Roboto, sans-serif;
    color: #3b3b3b;
    border-bottom: 1px solid #eeeeee;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #FFC107;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.name_details{
	font-family: Roboto, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #757575;
}