html, body{
    height: 100%;
    margin: 0;
	overflow: hidden;
}

#map {
    min-height: 100%;
}

#add_location_div:hover{
	background-color: #26327c;
}

#side_nav{
	position: fixed; 
    width: 400px; 
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #303F9F;
    z-index: 4;
}

#nav_divider_div{
	width: 300px;
    height: 1px;
    background-color: white;
    margin: 4px 0;
}

#nav_ul{
	list-style-type: none;
	margin-top: 120px;
}

.nav_li{
	font-family: Roboto, sans-serif;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	margin-left: 20px;
}

#add_location_div{
	position: fixed; 
    width: 55px; 
    height: 55px; 
    right: 0;
    bottom: 0;
	margin-right: 65px;
	margin-bottom: 55px;
    border-radius: 40px;
    background-color: #303F9F;
    z-index: 3;
    box-shadow: 3px 3px 5px #888;
	text-align: center;
	overflow: hidden;
}

#add_location_icon{
	margin-top: 16px;
	height: 23px;
	width: 23px;
}

h3{
    font-family: Roboto, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

#cong_tag{
	float: left;
}

#h_tag{
	float: right;
}

.menu_style {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
	border-radius: 2px;
}

#menu_container{
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	margin-right: 20px;
}

#menu_and_search_container{
	margin: 10px;
}

#nav_cancel{
	width: 40px;
	height: 40px;
	float: right;
	margin: 40px;
}

#overlay {
    position: fixed; 
    width: 350px; 
    height: 275px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 2px;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 2px #888;
}

#incorrect_data_div{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 600px; 
    height: 500px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 2px;
    background-color: white;
    z-index: 5;
}

#shadow_div{
	position: fixed;
    width: auto; 
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
}

#name_details_div{
	text-align: center;
}

#incorrect_data_notes{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
	resize: none;
	width: 500px;
	height: 250px;
	font-family: Roboto, sans-serif;
	font-size: 16px;
}

#incorrect_cancel_btn{
	margin-left: 390px;
	background-color: white;
	color: firebrick;
}

@media screen and (max-width: 1100px) {
	#overlay{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
	}
}

@media screen and (max-width: 615px){
	#overlay{
		width: auto;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 650px){
	#incorrect_data_div{
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
	}
	
	#incorrect_data_notes{
		width: 75%;
	}
	
	#incorrect_cancel_btn{
		margin-left: 20%;
	}
}

@media screen and (max-width: 500px){
	#side_nav{
		width: 300px;
	}
}

#search_input{
    padding: 5px;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-size: 17px;
	padding-left: 10px;
	border-bottom: 1px solid black;
}


#names_found_list{
    list-style: none;
    margin-right: 35px;
}

select{
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
}

#li_items{
    font-family: Roboto, sans-serif;
    color: #3b3b3b;
    border-bottom: 1px solid #eeeeee;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #FFC107;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.name_details{
	font-family: Roboto, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #757575;
}

.button{
	background-color: #3F51B5;
    color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888;
	font-size: 12px;
    border: none;
    cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}