html, body{
	height: 100%;
    margin: 0;
	font-family: Roboto, sans-serif;
	background-color: #eeeeee;
}

#container{
	display: flex;
	flex-wrap: wrap;
}

#right_div{
	width: 20%;
}

#content_div{
	width: 60%;
}

#left_div{
	width: 20%;
}
/*

#tier_container{
	display: flex;
	flex-wrap:  wrap;
	justify-content: center;
	margin-bottom: 100px;
}

.tier{
	width: 250px;
	height: 175px;
	background-color: white;
	border-radius: 2px;
	margin: 20px;
	box-shadow: 2px 2px 4px #888;
}

.tier:hover{
	box-shadow: 9px 9px 16px #888;
	cursor: pointer;
}

.tier_label{
	color: white;
	margin: 0px;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}

.house_holds_label{
	color: white;
	text-align: center;
	margin: 10px;
	font-size: 20px;
}

.price_label{
	text-align: right;
	font-size: 18px;
	color: gray;
	margin-left: 20px;
	margin-right: 20px;
}
*/

#cgcm_map_div{
	margin-top: 50px;
	text-indent: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #303F9F;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
}

#add_cong_div{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	text-indent: 50px;
}

#one_time_fee_div{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #303F9F;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	text-indent: 50px;
}

#register_div{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	border-radius: 2px;
	text-align: center;
	box-shadow: 1px 1px 2px #888;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

#register_div_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#submit_btn{
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 20px;
	background-color: #FFC107;
	color: white;
	box-shadow: 1px 1px 2px #888;
}

.input{
    border-style: solid;
	background-color: white;
    font-size: 17px;
	border-bottom-color: #3b3b3b;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
}


#thank_for_submitting{
	color: green;
}

@media screen and (max-width: 850px){
	#right_div{
		width: 0%;
	}

	#content_div{
		width: 100%;
	}

	#left_div{
		width: 0%;
	}
}