html, body{
	height: 100%;
	font-family: Roboto, sans-serif;
	background-color: #eeeeee;
}

#container_div{
	flex-wrap: wrap;
	display: flex;
}

#left_div{
	width: 30%;
}

#right_div{
	width: 30%;
}

#content_div{
	text-align: center;
	width: 40%;
	background-color: white;
	margin-top: 20px;
	box-shadow: 1px 1px 2px #888;
	border-radius: 2px;
	padding: 20px;
}

#password_reset_btn:hover{
	background-color: #303F9F;
	box-shadow: 2px 2px 4px #888;
}

#password_reset_btn{
	border: none;
	padding: 15px;
	color: white;
	background-color: #3F51B5;
	box-shadow: 1px 1px 2px #888;
	margin: 20px;
}

#message_center{
	font-weight: bold;
	margin: 0px;
}

.input{
    border-style: solid;
	background-color: white;
    font-size: 17px;
	border-bottom-color: #3b3b3b;
    border-width: 0px 0px 1.5px 0px;
    margin: 20px;
    border-radius: 2px;
    padding: 5px;
}

@media screen and (max-width: 700px){
	#left_div{
		width: 0%;
	}
	
	#right_div{
		width: 0%;
	}
	
	#content_div{
		width: 100%;
		box-shadow: 0px 0px 0px #fff;
	}
	html, body{
		background-color: white;
	}
}