html, body{
	height: 100%;
	background-color: #eeeeee;
	font-family: Roboto, sans-serif;
	margin: 0px;
}

#container_div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#left_div{
	width: 20%;
}

#content_div{
	width: 60%;
}

#right_div{
	width: 20%;
}

#thanks_content_div{
	padding: 40px;
	background-color: white;
	box-shadow: 1px 1px 2px #888;
}

#cong_btn{
	padding: 15px;
	border: none;
	color: white;
	box-shadow: 1px 1px 2px #888;
	background-color: #303F9F;
	margin-top: 30px;
	margin-bottom: 30px;
}

#cong_btn:hover{
	box-shadow: 2px 2px 4px #888;
	background-color: #232f77;
}

#credit_info{
	text-indent: 20px;
}

@media screen and (max-width: 850px){
	#left_div{
		width: 1%;
	}
	
	#content_div{
		width: 98%;
	}
	#right_div{
		width: 1%;
	}
}
